*{
	margin: 0;
	padding: 0;
  color: black;
  font-family: 'Poppins', sans-serif;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: #bce6ff; /*#9ff3ff;*/ /*#dae5e8;*/
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.logo {
	color: #c41d1d;
	font-size: 2vw;
	cursor: pointer;
}

.logo img {
  height: 9vh;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18px;
	color: #004aad;
}

.nav-links li .current {
	background-color: #ff5757;
}

.nav-links li:hover{
	background-color: #ff5757;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: #00bf6a;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
	.logo {
		font-size: 3vh;
	}
	.nav-links {
		width: 70%;
	}
}

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 10vh;
		background-color: #dae5e8;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}

}

.nav-active{
	transition: transform 0.5s ease-in;
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

/* Homepage
-------------------------------------
*/
.home {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
}

.landing {
	position: relative;
	top: 10vh;
	height: 85vh;
	width: 100%;
}

.dream {
	height: 75vh;
	width: 48vw;
  background-size: cover;
  background-image: url(img/home.jpeg);
	background-position: top;
  display: flex;
  flex-direction: column;
	position: absolute;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);*/
	right: 0;
	align-items: center;
}

.dream h2 {
	position: absolute;
	top: 0;
	display: flex;
	font-size: 4vw;
  color: #041e42;
}

.dream h3 {
	color: white;
	display: flex;
	font-size: 4vw;
	position: absolute;
	top: 52vh;
}

.slant {
	position: absolute;
	height: 75vh;
	width: 66vw;
  top: 0;
  background-color: #d85493; /*#2285c2;*/
  opacity: 0.6;
  display: flex;
  flex-direction: column;
	/*clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);*/
	clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
	align-items: center;
}

.achieve {
  position: absolute;
	height: 75vh;
	width: 66vw;
  top: 0;
	left: -4vw;

  background-color: #d85493; /*#2285c2;*/
  display: flex;
  flex-direction: column;
	/*clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);*/
	clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
	align-items: center;
}

.achieve .signup button{
  background-color: #6dd957; /*#7ed957;*/ /*#d85493;*/
  /*border: none;*/
  border-radius: 8px;
	/*border-color: #041e42;*/
	color: white; /*#041e42;*/
  padding: 2vh 2vw;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 4vw;

  transition-duration: 0.4s;
}

.achieve .signup button:hover {
  color:  #6dd957; /*#7ed957;*/
  background: white;
}

.achieve h1 {
	position: absolute;
	top: 15vh;
	font-size: 3vw;
	text-align: center;
}

.achieve h2 {
	position: absolute;
	top: 35vh;
	font-size: 2vw;
}

.achieve .signup {
	position: absolute;
	top: 45vh;
}

.tutors {
	background-color: white;/*#38b6ff;*/
	display: flex;
	/*height: 15vh;*/
  justify-content: center;
	flex-direction: column;
	align-items: center;
}

.toptier {
	display: flex;
	height: 15vh;
  align-items: center;
	flex-direction: column;

}

.toptier h2 {
	font-size: 5vh;
}

.tutors img {
	height: 15vw;
}

.tutor {
	width: 60vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0;
}

.tutor .text {
	width: 35vw;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

/*.tutor-college {
	display: flex;
	width: 12vw;
	height: 100%;
	justify-content: center;
}*/

.tutor-college img {
	/*display: flex;*/
	width: 10vw;
}

.text h3 {
	font-size: 4vh;
	display: flex;
}

.text h4 {
	font-size: 4vh;
	display: flex;
	align-self: flex-end;
}


.about {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px 0;
}

.about h3 {
	font-size: 4vh;
}

.about .text {
	display: flex;
	width: 60vw;
	text-align: center;
}

/* sat
-------------------------------------------------
*/

.tests {
	position: absolute;
	top: 10vh;
	height: 90vh;
	width: 100vw;
	overflow-x: hidden;
}

.tests .header {
	display: flex;
	top: 10vh;
	height: 50vh;
	width: 100vw;
	background-color: #d85493;
	justify-content: center;
}

.tests .header-img {
	height: 50vh;
	background-image: url(img/sat.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	width: 50vw;
}

.tests .block-1 {
	position: absolute;
	width: 20vw;
	height: 20vh;
	background-color: black;
	top: 8vh;
	right: 20vw;
	opacity: 0.85;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tests .block-1 h2 {
	display: flex;
	z-index: 10;
	font-size: 7vh;
	color: #bce6ff;
}

.tests .title {
	display: flex;
	justify-content: center;
}

.tests h3 {
	font-size: 5vh;
	top: 60vh;
	left: auto;
	right: auto;
}

.sat {
	display: flex;
	width: 100%;
	height: 25vh;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.sat img {
	width: 10vw;
}

.sat .text {
	width: 40vw;
	text-align: center;
}

.act {
	display: flex;
	width: 100vw;
	height: 25vh;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.act img {
	width: 10vw;
}

.act .text {
	width: 40vw;
	text-align: center;
}


/* Essays
--------------------------------------
*/

.essays {
	position: absolute;
	top: 10vh;
	height: 90vh;
	width: 100vw;
	overflow-x: hidden;
}

.essays .header {
	display: flex;
	top: 10vh;
	height: 50vh;
	width: 100vw;
	background-color: #d85493;
	justify-content: center;
}

.essays .header-img {
	height: 50vh;
	background-image: url(img/essay.jpg);
	background-size: cover;
	background-position: bottom;
	display: flex;
	width: 50vw;
}

.essays .block-1 {
	position: absolute;
	width: 17vw;
	height: 17vh;
	background-color: black;
	top: 8vh;
	right: 20vw;
	opacity: 0.85;
	display: flex;
	justify-content: center;
	align-items: center;
}

.essays .block-1 h2 {
	display: flex;
	z-index: 10;
	font-size: 7vh;
	color: #bce6ff;
}

.essays .title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.essays .title h3 {
	font-size: 5vh;
}

.essays .title h4 {
	font-size: 2.5vh;
}

.essay-1 {
	display: flex;
	width: 100vw;
	height: 25vh;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.essay-1 img {
	width: 10vw;
}

.essay-1 .text {
	width: 40vw;
	text-align: center;
}

/* Admissions
--------------------------------------
*/

.admissions {
	position: absolute;
	top: 10vh;
	height: 90vh;
	width: 100vw;
	overflow-x: hidden;
}

.admissions .header {
	display: flex;
	top: 10vh;
	height: 50vh;
	width: 100vw;
	background-color: #d85493;
	justify-content: center;
}

.admissions .header-img {
	height: 50vh;
	background-image: url(img/admissions.png);
	background-size: cover;
	background-position: bottom;
	display: flex;
	width: 50vw;
}

.admissions .block-1 {
	position: absolute;
	width: 23vw;
	height: 20vh;
	background-color: black;
	top: 10vh;
	right: 20vw;
	opacity: 0.85;
	display: flex;
	justify-content: center;
	align-items: center;
}

.admissions .block-1 h2 {
	display: flex;
	z-index: 10;
	font-size: 7vh;
	color: #bce6ff;
}

.admissions .title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.admissions .title h3 {
	font-size: 5vh;
}

.admissions .title h4 {
	font-size: 2.5vh;
}

.admissions-1 {
	display: flex;
	width: 100vw;
	height: 35vh;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.admissions-1 img {
	width: 10vw;
}

.admissions-1 .text {
	width: 40vw;
	text-align: center;
}
